name: calculator-push
on:
 push:
  branches:
  - feature/**
jobs:
 build:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout du code
    uses: actions/checkout@v4
  - name: Set up python
    uses: actions/setup-python@v5
    with:
         python-version: '3.9'
  - name: Installation des dépendances
    run:|
          python -m pip install --upgrade pip
          pip install -r requirements.txt
  - name: Tests exécution
    run:|
          coverage run -m unittest tests/test_calculator.py
          coverage report -m

